<!DOCTYPE html>
<html>
    <head>
        <!-- Metadata setup -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Lift Simulator</title>
        
        <!-- Import CSS -->
        <link href="{{ url_for('static', filename='styles/style.css') }} " rel="stylesheet">
        <link href="{{ url_for('static', filename='styles/config.css') }} " rel="stylesheet">
    </head>

    <body>
        <!-- Title banner -->
        <div class="banner">
            <h1 class="title">Lift Algorithm Simulator</h1>
            <button id="gh-button" onclick="openGithub()">
                <img src="{{ url_for('static', filename='images/github_dark.svg') }}" alt="GitHub logo">
            </button>
        </div>

        <div id="main" class="centers-items">
            <form id="configForm" class="centers-items" method="post" action="{{ url_for('Config') }}">
                <!-- Use Flask to automatically fill config items -->
                {% for k, v in config_options.items(): %}
                    <div class="form-group">
                        <label for="{{ k + 'Input' }}">
                            <p class="literal-name">{{ k }}:</p>
                            <p class="pretty-name">{{ v[1] }}:</p>
                        </label>
                        <input type="{{ v[0] }}" id="{{ k + 'Input' }}" name="{{ k + 'Input' }}" value="{{ v[2] }}">
                    </div>
                {% endfor %}

                <p class="info">
                    Passengers waiting per floor:
                    <br><i>(Enter comma-separated numbers)</i>
                </p>

                <!-- Input for those waiting per floor -->
                <!-- Depends on the number of floors, dynamically created with JS -->
                <div id="floorInputs">
                    {% for i in range(config_options["numFloors"][2]): %}
                        <div class="form-group floor-input">
                            <label for="floor{{ i + 1 }}Input">
                                <p class="pretty-name">Waiting on Floor {{ i + 1 }}:</p>
                                <p class="literal-name">floor{{ i + 1 }}waiting:</p>
                            </label>
                            <input type="text" id="floor{{ i + 1 }}Input" name="floor{{ i + 1 }}Input" placeholder="Waiting...">
                        </div>
                    {% endfor %}
                </div>

                <input type="submit" value="Submit" formaction="{{ url_for('Config') }}" formmethod="post">

                <!-- Checkbox to toggle literal variable names on/off -->
                <div class="form-group">
                    <label for="toggleCheckbox">Toggle literal config names:</label>
                    <input type="checkbox" id="toggleCheckbox" onclick="toggleLiteralNames()">
                </div>
            </form>
        </div>
    </body>

    <!-- Import scripts -->
    <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/config.js') }}"></script>
</html>