<!DOCTYPE html>
<html>
    <head>
        <!-- Metadata setup -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Lift Simulator</title>
        
        <!-- Import CSS -->
        <link href="{{ url_for('static', filename='styles/style.css') }} " rel="stylesheet">
    </head>

    <body>
        <!-- Title banner -->
        <div class="banner">
            <h1 class="title">Lift Algorithm Simulator</h1>
            <button id="gh-button" onclick="openGithub()">
                <img src="{{ url_for('static', filename='images/github_dark.svg') }}" alt="GitHub logo">
            </button>
        </div>

        <div id="main" class="centers-items"></div>
    </body>

    <!-- Import scripts -->
    <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
</html>